@model Eventos.IO.Application.ViewModels.EventoViewModel
@using Eventos.IO.Application.ViewModels


@{
    ViewData["Title"] = "Alterar Evento";
}

<h2>@ViewData["Title"]</h2>

<!-- Aqui temos o arquivo de estilo para poder utilizar dentro do html dentro dos campos data -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/css/bootstrap-datepicker.min.css" rel="stylesheet" type="text/css" />

<form asp-action="Edit">
    <div class="form-horizontal">
        <h4>Lembre-se que muitas pessoas já podem ter visto este evento antes de mudar datas e etc.</h4>
        <hr />
        <vc:Summary />
        <input type="hidden" asp-for="Id" />
        <input type="hidden" asp-for="OrganizadorId" />

        <div class="form-group">
            <label asp-for="Nome" class="col-md-4 control-label"></label>
            <div class="col-md-4">
                <input asp-for="Nome" class="form-control" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="DescricaoCurta" class="col-md-4 control-label"></label>
            <div class="col-md-4">
                <input asp-for="DescricaoCurta" class="form-control" />
                <span asp-validation-for="DescricaoCurta" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="DescricaoLonga" class="col-md-4 control-label"></label>
            <div class="col-md-4">
                <textarea rows="5" asp-for="DescricaoLonga" class="form-control"></textarea>
                <span asp-validation-for="DescricaoLonga" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="Categoria" class="col-md-4 control-label"></label>
            <div class="col-md-4">
                @Html.Partial("_Categorias")
                <span asp-validation-for="Categoria" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="DataInicio" class="col-md-4 control-label"></label>
            <div class="col-md-4">
                <!-- Deixei de propósito a formatação da data de início diferente da data fim para ver uma alternativa -->
                <input asp-for="DataInicio" class="form-control" type="text" asp-format="{0:dd/MM/yyyy}" />
                <span asp-validation-for="DataInicio" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="DataFim" class="col-md-4 control-label"></label>
            <div class="col-md-4">
                <input asp-for="DataFim" class="form-control" type="text" />
                <span asp-validation-for="DataFim" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group form-check">
            <label class="form-check-label">
                <input class="form-check-input" asp-for="Gratuito" /> @Html.DisplayNameFor(model => model.Gratuito)
            </label>
        </div>

        <div class="form-group">
            <label asp-for="Valor" class="col-md-4 control-label"></label>
            <div class="col-md-4">
                <input data-val-number="O valor está em formato inválido" data-val-required="O valor é requerido" asp-for="Valor" class="form-control" />
                <span asp-validation-for="Valor" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group form-check">
            <label class="form-check-label">
                <input class="form-check-input" asp-for="Online" /> @Html.DisplayNameFor(model => model.Online)
            </label>
        </div>

        <div class="form-group">
            <label asp-for="NomeEmpresa" class="col-md-4 control-label"></label>
            <div class="col-md-4">
                <input asp-for="NomeEmpresa" class="form-control" />
                <span asp-validation-for="NomeEmpresa" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input id="btSubmit" type="submit" value="Atualizar Evento" class="btn btn-success" />
                <a asp-action="MeusEventos" class="btn btn-info">Voltar para a lista</a>
            </div>
        </div>
    </div>
</form>

<div id="EnderecoForm">
    <div id="EnderecoTarget">
        @Html.Partial("_DetalhesEndereco")
    </div>
</div>

<div id="myModal" class="modal fade in">
    <div class="modal-dialog">
        <div class="modal-content">
            <div id="myModalContent"></div>
        </div>
    </div>
</div>

<!-- Executa tudo que tem que ser feito apenas após o carregamento completo da _Layout page -->
<!-- Temos o arquivo java script mais os arquivos para deixar o calendário em portugues br -->
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <!-- Aqui temos os scripts para validações do datepicker -->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/js/bootstrap-datepicker.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/locales/bootstrap-datepicker.pt-BR.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/locales/bootstrap-datepicker.pt.min.js"></script>

    <script>
        ValidacoesEvento();
        AjaxModal();
    </script>

    @{
        if (ViewBag.RetornoPost != null)
        {
            var notificacao = ViewBag.RetornoPost.ToString().Split(',');

            if (notificacao[0] == "success")
            {
                <script>
                    // Colocado aqui e não no site.js para somente voltar a meus eventos em caso de sucesso
                    // ssbcvp - como tornar dinamico o location ? voltar aqui
                    toastr.options.onHidden = function () {
                        window.location = "https://localhost:44375/eventos/meuseventos"
                    };

                    toastr.options.onclick = function () {
                        window.location = "https://localhost:44375/eventos/meuseventos"
                    };

                    toastr.options.onCloseClick = function () {
                        window.location = "https://localhost:44375/eventos/meuseventos"
                    };

                    $("#btSubmit").prop("disabled", true);

                </script>
                
                <script>
                    toastr["@notificacao[0]"]("@notificacao[1]");
                </script>
            }
        }
    }
}
