@model IEnumerable<Eventos.IO.Application.ViewModels.EventoViewModel>

@using System.Globalization;

@{
    ViewData["Title"] = "Meus Eventos";
}

<h2>@ViewData["Title"]</h2>

<div class="row">
    <div class="col-m-12">
        <div class="pull-left">
            <a asp-action="Create" class="btn btn-primary">
                <span title="Novo Evento" class="fas fa-plus-circle"></span> Novo Evento
            </a>
        </div>
    </div>
</div>
<br />

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataInicio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataFim)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Valor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Online)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    <!-- Aqui estou deixando de propósito diferente a formatação de data início e fim para ter uma alternativa -->
                    @item.DataInicio.ToString("d")
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DataFim)
                </td>
                <td>
                    @{
                        if (item.Gratuito)
                        {
                            @Html.DisplayName("Gratuito");
                        }
                        else
                        {
                            @Html.DisplayFor(modelItem => item.Valor);
                        }
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Online)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning">
                        <i class="fas fa-pencil-alt"></i>
                    </a>
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-primary">
                        <i class="fas fa-search"></i>
                    </a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">
                        <i class="fas fa-trash-alt"></i>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>